* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282d35;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  box-shadow: 2px 2px 23px #000000;
  background-color: #21222a;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-logo {
  width: 50px;
  height: 50px;
  margin: 0 10px;
}

.brand-name {
  font-family: "Inter", sans-serif;
  color: #61dafb;
}

.projectName {
  font-family: "Inter", sans-serif;
  color: #deebf8;
  font-weight: 600;
}

.title {
  margin: 50px 0px 30px 30px;
  font-family: "Inter", sans-serif;
  font-size: 39px;
}

.facts {
  margin-left: 70px;
  font-family: "Inter", sans-serif;
}

/* Used this code from W3Schools to style the bullet points */

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #61dafb;
  font-weight: bolder;

  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* However, this pseudo-element makes it easy! */

/* ul li::marker {
  color: #61dafb;
  font-size: 1.4rem;
} */

/* Though there are alignment issues 
if you increase the font size */

.facts li {
  padding: 10px;
}

.container {
  color: white;
  /* background-image: url(./images/download.png); 
 background-repeat: no-repeat;
  background-position: right; */
}

.middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
